allow shell binderfs_logs:dir { search };
allow shell fwk_camera_hwservice:hwservice_manager { find };
allow shell fwk_display_hwservice:hwservice_manager { find };
allow shell fwk_scheduler_hwservice:hwservice_manager { find };
allow shell fwk_sensor_hwservice:hwservice_manager { find };
allow shell fwk_stats_hwservice:hwservice_manager { find };
allow shell hal_audio_hwservice:hwservice_manager { find };
allow shell hal_bluetooth_hwservice:hwservice_manager { find };
allow shell hal_camera_hwservice:hwservice_manager { find };
allow shell hal_fingerprint_hwservice:hwservice_manager { find };
allow shell hal_gatekeeper_hwservice:hwservice_manager { find };
allow shell hal_gnss_hwservice:hwservice_manager { find };
allow shell hal_graphics_composer_hwservice:hwservice_manager { find };
allow shell hal_health_hwservice:hwservice_manager { find };
allow shell hal_ir_hwservice:hwservice_manager { find };
allow shell hal_keymaster_hwservice:hwservice_manager { find };
allow shell hal_memtrack_hwservice:hwservice_manager { find };
allow shell hal_nfc_hwservice:hwservice_manager { find };
allow shell hal_sensors_hwservice:hwservice_manager { find };
allow shell hal_telephony_hwservice:hwservice_manager { find };
allow shell hal_tetheroffload_hwservice:hwservice_manager { find };
allow shell hal_usb_hwservice:hwservice_manager { find };
allow shell hal_wifi_hwservice:hwservice_manager { find };
allow shell hidl_base_hwservice:hwservice_manager { find };
allow shell system_net_netd_hwservice:hwservice_manager { find };
allow shell system_suspend_hwservice:hwservice_manager { find };
allow shell system_wifi_keystore_hwservice:hwservice_manager { find };
